@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>to My Restaurant Portal!</h2>
    <p>Made with ASP.NET Core</p>

    <p>Thanks, Scott Allen for the lessons! Rest in Peace!</p>
</div>
